* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    /* background-color: rgb(246, 248, 249); */
    background-color: rgb(200, 206, 211);
}

header {
    background-color: rgb(255, 255, 255);
}

header #logo {
    height: 80px;
    margin: 15px 5px 15px 30px;
}

header h1{
    display: inline-block;
    line-height: 120px;
    vertical-align: bottom;
    font-size: 4em;
    font-weight: 900;
}

main {
    margin-top: 40px;
    margin: auto;
    width: 70%;
    margin-top: 30px;
}

nav {
    max-height: 1000px;
    border-bottom: 1px solid rgb(200, 206, 211);
    margin-bottom: 10px;
}

main, nav {
    background-color: rgb(255, 255, 255);
    max-width: 1400px;
    border-radius: 4px;
}

nav button {
    background-color: rgb(255, 255, 255);
    color: rgb(200, 206, 211);
    border-radius: 4px;
    border: 1px solid rgb(200, 206, 211);
    padding: 4px;
}

#first_button {
    margin: 15px 5px 10px 50px;
}

nav button:hover {
    background-color: rgb(71, 173, 241);
}

main section {
    margin-left: 25px;
}

section button {
    border-radius: 10px;
    padding: 2px 8px 2px;
    font-size: 10px;
    border: none;
    color: rgb(255, 255, 255);
}

button.editorial_tag {
    background-color: rgb(69, 171, 234);
}

button.website_tag {
    background-color: rgb(216, 99, 161);
}

button.qonegoals_tag {
    background-color: rgb(156, 114, 228);
}

button.recruiting_tag {
    background-color: rgb(100, 192, 169);
}

button.mobile_tag {
    background-color: rgb(242, 158, 51);
}

button.sales_tag {
    background-color: rgb(176, 201, 38);
}

